.menu-header{
    color: red;
    margin-right: 30px;
    text-align: center;
    text-decoration: none;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}
.title{
    color: #373737;
     font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
     text-align: center; 
     }
     .paragraph{
        color: #373737;
        font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
     text-align: center;
     

    }
    .paragraph2{
        color: #373737;
        font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    text-align: center;
    
    
    }
    .title2{
      
     background-color: red;
     color: white;
     
     border-radius: 7px;
      
      padding: 1px;
      border: none;
      width: fit-content;
      margin: 100px auto;
      font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;

}
.text{
    color: #373737;
    
    text-align: right;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}


    
   

    
    















 
